#TableClinic {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#TableClinic td,
#TableClinic th {
  border: 1px solid #ddd;
  padding: 8px;
}

#TableClinic tr:nth-child(even) {
  background-color: #f2f2f2;
}

#TableClinic tr:hover {
  background-color: #ddd;
}

#TableClinic th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.update-user {
  i {
    color: #04aa6d;
    &.hover {
      color: rebeccapurple;
    }
  }
}
.delete-user {
  i {
    color: red;
    &.hover {
      color: rebeccapurple;
    }
  }
}
