.container {
  padding: 0 15px;
  .title {
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
  }
  .add-new-specialty {
    .btn-save-specialty {
      border: none;
      background: orange;
      padding: 8px 5px;
      min-width: 75px;
      border-radius: 3px;
      margin: 15px 0;
    }
    .upload {
      padding: 5px;
      border-radius: 3px;
      background: #ddd;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }
    }
    .preview-image {
      height: 50px;
      width: 100%;
      border: solid 1px red;
      background: center center no-repeat;
      background-size: contain;
      cursor: pointer;
    }
  }
}
