.mange-doctor-container {
  padding: 5px;

  .manage-doctor-title {
    text-align: center;
    margin: 15px 0;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
  }
  .save-content-markdown {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    background: rgb(0, 85, 255);
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .update-content-markdown {
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 3px;
    outline: none;
    padding: 5px;
    background: rgb(0, 255, 106);
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .manage-doctor-info {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;

    .content-left {
      width: 35%;
    }
    .content-right {
      width: 65%;
    }
  }
}
